/* CARDAPIO */
#cardapio {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  -webkit-box-shadow: 0px 2px 15px 5px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: 0px 2px 15px 5px rgba(255, 255, 255, 0.3);
  box-shadow: 0px 2px 15px 5px rgba(255, 255, 255, 0.3);
}

#cardapio-botao {
  background-color: var(--cor-laranja);
  padding: 10px;
  color: var(--cor-fundo);
  border-radius: 5px;
}
.cardapio-bnt {
  padding: 10px 0;
}
.cardapio-lista {
  width: 100%;
}
.cardapio-lista table {
  width: 100%;
  border-collapse: collapse;
}
.cardapio-lista table tr {
  border-bottom: 1px solid var(--cor-branco);
  display: flex;
  justify-content: space-between;
}
.cardapio-lista table td {
  padding: 1rem 0;
}

@media screen and (min-width: 1024px) {
  #cardapio{
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 5rem;
  }
  #cardapio-texto{
    text-align: justify;
  }
  .cardapio-lista,.cardapio-conteudo{
    width: 40%;
  }
}
@media screen and (min-width: 1440px) {
  #cardapio{
    padding: 4rem 10rem;
  }
}