@import url(components/contato-card.css);
/* CONTATO */

#contato {
  display: flex;
  flex-direction: column;
  background-color: var(--cor-laranja);
  color: var(--cor-preto);
  padding: 2rem;
}

@media screen and (min-width: 768px) {
  .contato-contatos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }
  .contato-card {
    width: 30%;
  }
}
@media screen and (min-width: 1024px) {
  #contato{
    padding: 2rem 5rem;
  }
}
@media screen and (min-width: 1440px) {
  #contato{
    padding: 2rem 10rem;
  }
}
