/* header */

.menu-desktop {
  display: none;
}

header {
  width: 100vw;
}
nav {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
}
.background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.70);
  z-index: 1;
}
.menu-mobile{
  width: 60vw;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--cor-laranja);
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 3rem;
  align-items: center;
  justify-content: top;
  border-radius: 55px 0 0 0;
  animation-name: slideleft;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.menu-mobile.right {
  animation-name: slideright;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
#icon-fechar{
  width: 30px;
  height: 30px;
  align-self: end;
  animation-name: slideleftbnt;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
#icon-fechar.right {
  animation-name: sliderightbnt;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.menu-lista-mobile{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.2rem;
  align-self: start;
  justify-self: center;
  padding-top: 5rem;
}
.menu-lista-mobile a{
  color: var(--cor-preto);
  
}
@keyframes slideleftbnt {
  from {
    right: -60vw;
  }
  to {
    right: 2rem;
  }
}
@keyframes sliderightbnt {
  from {
    right: 2rem;
  }
  to {
    right: -60vw;
  }
}
@keyframes slideleft {
  from {
    right: -60vw;
  }
  to {
    right: 0;
  }
}
@keyframes slideright {
  from {
    right: 0;
  }
  to {
    right: -60vw;
  }
}


@media screen and (min-width: 375px) {
  nav {
    padding: 1rem 3rem;
  }
}
@media screen and (min-width: 425px) {
  .menu-mobile{
    padding-left: 3rem;
  }
}
@media screen and (min-width: 768px) {
  nav {
    padding: 1rem 5rem;
  }
  .menu-mobile{
    width: 40vw;
  }
  #icon-fechar{
    margin-right: 3.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .menu-hamburguer,.background{
    display: none;
  }
  .menu-desktop {
    display: block;
  }
  .menu-lista-desktop{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    font-size: 1.2rem;
  }
  .menu-lista-desktop a{
    color: var(--cor-branco);
  }
}
@media screen and (min-width: 1440px) {
  nav{
    padding: 1rem 10rem;
  }
}
