@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Montserrat&display=swap');@import url(header.css);
@import url(home.css);
@import url(banner.css);
@import url(promocao.css);
@import url(cardapio.css);
@import url(quem-somos.css);
@import url(localizacao.css);
@import url(contato.css);
@import url(footer.css);
:root {
  --cor-laranja: #daa520;
  --cor-marrom: #473001;
  --cor-branco: #fff;
  --cor-preto: #000;
  --cor-fundo: #000;
  --cor-letras: #fff;

  --fonte: 'Libre Baskerville', serif;
  --fonte-paragrafo: 'Montserrat', sans-serif;
  --regular: 400;
  --bold: 700;
  --italic: italic;
  --normal: normal;
  font-size: 16px;
}
main {
  overflow-x: hidden;
}
body {
  width: 100vw;
  overflow-x: hidden;
  font-family: var(--fonte);
  font-weight: var(--regular);
  background-color: var(--cor-fundo);
  color: var(--cor-letras);
}
section {
  width: 100vw;
  padding: 2rem;
  overflow-x: hidden;
}

.icon {
  width: 40px;
  height: 40px;
}

.titulo {
  font-size: 2em;
  padding: 0 0 1rem;
}
.paragrafo {
  font-family: var(--fonte-paragrafo);
  padding: 0 0 1rem;
}

@media screen and (min-width:1024px) {
  section {
    padding: 2rem 5rem;
  }
}
@media screen and (min-width:1440px) {
  section {
    padding: 2rem 10rem;
  }
}